build/
__pycache__/
*.pyc

node_modules/
docs/node_modules/

dist/
docs/dist/
out/

*.log
*.tmp
*.bak
*.swp

.DS_Store      # macOS
Thumbs.db      # Windows
Desktop.ini    # Windows

.vscode/
*.code-workspace

.env
.env.local

config/local.json
personal_script.sh

*.bak

*.webp
*.jpg

*.vs